body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: #f9f9f9;
}

h1, h2, h3 {
    color: #333;
}

/* NAVBAR */
nav {
    background: #222;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

nav a:hover {
    color: #00c3ff;
}
.card {
    background: white;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    text-align: center;
}

.card img {
    width: 100%;
    max-height: 180px;
    object-fit: contain;
}

/* FORM CHUNG */
input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 12px;
    width: 100%;
    cursor: pointer;
    background: #0088ff;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background: #005fcc;
}

/* COUNTDOWN */
.countdown-danger {
    color: red;
    font-weight: bold;
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% { opacity: 1; }
    50% { opacity: .2; }
    100% { opacity: 1; }
}
